:root {
    --light-green: #6bc79f;
    --dark-green: #112c20;
    --hover-green: #1E3030; 
    --light-black: #1b1e28;
    --dark-black: #07080d;
    --gray: #262626;
    --border-gray: #434343;  
    --inside-border-gray: #15171F; 
    --light-orange: #ffcf0a;
    --dark-orange: #fa9d64;
}

/*global reset*/
* {
    margin: 0;
    box-sizing: border-box;
}

/*header*/
.header {
    background-color: #232327;
    text-align: center;
    padding: 25px;
}

header img {
    width: 90px;

}

header a:visited {
    color: var(--dark-orange);
}

header a {
    color: var(--light-orange);
}

/*links*/
nav a:visited {
    color: var(--dark-orange);
}

nav a {
    color: var(--light-orange);
}

/*title sections*/ 
.title-section {
    padding: 20px;
}

/*general body*/
body {
    background-color: var(--dark-black);
    color:whitesmoke; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    color: var(--light-green);
}

p {
    margin: 15px 0px;
}

/*collapsible*/
.collapsible {
    background-color: var(--dark-black);
    color: var(--light-green);
    cursor: pointer;
    padding: 10px 49px;
    width: 252px;
    border: 2.5px solid var(--dark-green);
    text-align: center;
    align-items: center;
    outline: none;
    font-size: 15px;
    border-radius: 30px;
    /* margin: 20px 20px 0px 0px;  */
    margin: 20px 20px;
    display: block;
    transition: border-radius 3s ease;
    transition: transform 0.6s ease; 
}

/* .active, .collapsible:hover {
    background-color: var(--dark-black);
    border: 2.5px solid var(--light-green);
} */

.collapsible.active {
    border-radius: 30px 30px 0 0; /* round top corners only when active */
}

.collapsible:hover {
    background-color: var(--dark-black);
    border: 2.5px solid var(--light-green);
    transform: scale(1.05); /* Adjust scale to control hover size */
}

/*caret and chevron*/
.wide-caret::before {
    content: "^"; 
    display: inline-block;
    font-size: 15px; 
    transform: scaleX(1.7); 
    margin-left: 5px; 
    font-weight: lighter;
}

.wide-chevron::before {
    content: "^"; 
    display: inline-block;
    font-size: 15px; 
    transform: scaleX(1.7) rotate(180deg); 
    margin-left: 10px; 
    font-weight: lighter;
}

/*content*/
.content {
    max-height: 0; /* to hide the extra info */ 
    overflow: hidden;
    background-color: var(--dark-black);
    border-radius: 0 0 30px 30px; /* rounded bottom corners */
    width: 252px; /* matches the width of the button */
    padding: 0 10px; /* adjust padding inside the content */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;
    justify-items: center; 
    transition: max-height 0.6s ease, padding 0.6s ease; /* Add transition */
}

.content.show {
    max-height: none; /* allows content to take its natural height, maybe add scrolling? */
    padding: 20px 10px;
    border-top: none; 
    border-left: 2px solid var(--light-green);  /*2 instead of 2.5 to make it thinner */
    border-right: 2px solid var(--light-green); 
    border-bottom: 2px solid var(--light-green); 
}

.content p {
    color: whitesmoke;
    margin: 0px;
    font-size: 14px;
}

.content p:hover {
    color: var(--light-green);
}

/*context box*/ 
.content-box {
    padding:25px;
    border: 2px;
    border-color: var(--light-black);
    background-color: var(--light-black);
    margin: 20px;
    border-radius: 15px;
}

.content-box nav {
    padding:25px;
    border: 2px;
    border-color: var(--light-black);
    background-color: var(--light-black);
    margin: 20px;
    border-radius: 15px;
    font-size: 25px;
}

/*personality input*/ 
.personality-input {
    display: none; /* initially hidden */
    background-color: var(--dark-black);
    color: var(--light-green);
    padding: 10px 20px 5px 20px;
    margin-top: 20px;
    width: 252px;
    border: 2px solid var(--light-green);  
    border-bottom-color: var(--gray); /* border bottom none to  remove the bottom border */
    border-radius: 30px; /* initially fully rounded */
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s ease;
    text-align: center;
}

.personality-input.flat-bottom {
    border-radius: 30px 30px 0 0; /* round top corners only */
}

.personality-input:focus {
    border-color: var(--light-green);
    /* background-color: var(--light-black); change background on focus */
}

/*personality buttons */
button.personality-button {
    padding:13px 10px;
    background-color: var(--gray);
    color: whitesmoke !important;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: var(--dark-black);
    text-align: center;
    width: 90%;
    outline: none;
}

/* button.personality-button:hover {
    background-color: var(--dark-green);
    color: white;
} */

/*more drop downs*/ 
.more-drop-downs {
    display: block; /* it still follows the grid */
    width: 100%;
    margin:0px; 
    color: whitesmoke; 
    padding: 10px; 
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
}

/*microinteraction*/
.microinteraction {
    display: flex; 
    flex-direction: column; /* stack items vertically */
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    margin: 0px auto 10px auto;
}

/*like and dislike button*/ 
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-cell {
    display: flex;
    border: 2.5px solid var(--border-gray);
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--inside-border-gray);
}

.like-section, .dislike-section {
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.like-section:active, .dislike-section:active {
    transform: scale(1.2);
}

.material-icons { 
    padding: 0px 5px;
    color: #8C8C8C;
    transition: color 0.6s ease, opacity 0.6s ease; /* Add opacity transition */
    font-size: 24px;
    cursor: pointer;
}

.dislike-section .material-icons:hover,
.like-section .material-icons:hover {
    color: var(--light-green);
}

.like-section.active .material-icons,
.dislike-section.active .material-icons {
    color: var(--light-green);
    /* opacity: 1; */
}

#like-count, #dislike-count {
    color: #8C8C8C; 
}


/*footer*/
footer {
    background-color: var(--light-black);
    text-align: center;
    padding: 20px;
    margin: 20px 0px 0px 0px;
}

/*video*/ 
/* video { 
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    max-width: 80%;
} */

/*Final Build*/ 
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 30%;
}

/* Sidebar Extra Buttons */ 
.extra-buttons {
    background-color: var(--dark-black);
    color: var(--light-green);
    padding: 10px 49px;
    width: 252px;
    border: 2.5px solid var(--dark-green);
    text-align: center;
    align-items: center;
    font-size: 15px;
    border-radius: 30px;
    /* margin: 10px 20px; */
    /* margin: 20px 20px 0px 0px;  */
    margin: 20px auto 0px auto;
}
/* Content */
.post-content {
    width: 70%;
    padding: 20px;
}

.filters {
    display: flex;
    margin-bottom: 20px;
    background-color: var(--light-black);
    border-radius: 30px;
}

.filter-btn {
    background-color: var(--light-black);
    border: none;
    color: #959595;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
    width: 252px;
    font-size: 15px;
}

.filter-btn:hover {
    background-color: var(--hover-green);
    color: whitesmoke;
}

.filter-btn.selected {
    background-color: #225941; /* Same green as hover state */
    color: whitesmoke;
}

/* Dropdown specific styles */
.filter-dropdown {
    position: relative;
}

.filter-btn.more-btn {
    border-radius: 30px; /* Default rounded corners */
    transition: border-radius 0.3s ease; /* Smooth transition */
}

.filter-btn.more-btn.active {
    border-radius: 30px 30px 0 0; /* Only top corners rounded */
}

.filter-btn2 {
    background-color: #225941;
    border: none;
    color: #959595;
    padding: 10px 20px;
    width: 252px;
    font-size: 15px;
}

.filter-btn3 {
    background-color: #225941;
    border: none;
    color: #959595;
    padding: 10px 20px;
    width: 252px;
    font-size: 15px;
}

.filter-btn4 {
    background-color: #225941;
    border: none;
    color: #959595;
    padding: 10px 20px;
    width: 252px;
    font-size: 15px;
    border-radius: 0 0 30px 30px; /* Bottom-left and bottom-right corners rounded */
}

.dropdown-content {
    display: none; /* Initially hidden */
    position: absolute;
    top: 100%; /* Position dropdown below the button */
    left: 0;
    background-color: var(--light-black);
    /* border-radius: 30px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
    width: 100%; /* Match the parent button width */
    border: none;
}

.dropdown-content .filter-btn {
    padding: 10px 20px;
    width: 100%; /* Full width */
    border-radius: 0; /* No rounded corners inside */
}

.dropdown-content .filter-btn:first-child {
    border-radius: 30px 30px 0 0; /* Round top corners */
}

.dropdown-content .filter-btn:last-child {
    border-radius: 0 0 30px 30px; /* Round bottom corners */
}

.filter-dropdown .dropdown-content.show {
    display: block; /* Show dropdown when active */
}

.post {
    background-color: var(--light-black);
    padding: 20px;
    border-radius: 8px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.profile-info h3 {
    margin: 0;
    font-size: 18px;
    color: whitesmoke;
}

.profile-info p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}

.badge {
    color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;
}

.badge2 {
    color: whitesmoke;
    background-color: var(--light-green);
    padding: 5px 10px;
    border-radius: 30px;
    margin-left: auto;
}


.post-text {
    margin-bottom: 15px;
    line-height: 1.6;
    color: whitesmoke;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #ccc;
}

/*media queries*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 904px) {
    .grid-container {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media (max-width: 645px) {
    .grid-container {
        grid-template-columns: repeat(1, 4fr);
    }
}