:root {
    --light-green: #6bc79f;
    --dark-green: #112c20;
    --light-black: #1b1e28;
    --dark-black: #07080d;
    --gray: #262626;
    --border-gray: #434343;  
    --inside-border-gray: #15171F; 
    --light-orange: #ffcf0a;
    --dark-orange: #fa9d64;
}

/*global reset*/
* {
    margin: 0;
    box-sizing: border-box;
}

/*header*/
.header {
    background-color: #232327;
    text-align: center;
    padding: 25px;
}

header img {
    width: 90px;

}

header a:visited {
    color: var(--dark-orange);
}

header a {
    color: var(--light-orange);
}

/*links*/
nav a:visited {
    color: var(--dark-orange);
}

nav a {
    color: var(--light-orange);
}

/*general body*/
body {
    background-color: var(--dark-black);
    color:whitesmoke; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    color: var(--light-green);
}

p {
    margin: 15px 0px;
}

/*collapsible*/
.collapsible {
    background-color: var(--dark-black);
    color: var(--light-green);
    cursor: pointer;
    padding: 10px 49px;
    width: 252px;
    border: 2.5px solid var(--dark-green);
    text-align: center;
    align-items: center;
    outline: none;
    font-size: 15px;
    border-radius: 30px;
    margin: 20px 20px 0px 20px; /*margin: 20px auto 0px auto;*/
    display: block;
    transition: border-radius 0.3s ease;
    transition: transform 0.3s ease; 
}

/* .active, .collapsible:hover {
    background-color: var(--dark-black);
    border: 2.5px solid var(--light-green);
} */

.collapsible.active {
    border-radius: 30px 30px 0 0; /* round top corners only when active */
}

.collapsible:hover {
    background-color: var(--dark-black);
    border: 2.5px solid var(--light-green);
    transform: scale(1.05); /* Adjust scale to control hover size */
}

/*caret and chevron*/
.wide-caret::before {
    content: "^"; 
    display: inline-block;
    font-size: 15px; 
    transform: scaleX(1.7); 
    margin-left: 5px; 
    font-weight: lighter;
}

.wide-chevron::before {
    content: "^"; 
    display: inline-block;
    font-size: 15px; 
    transform: scaleX(1.7) rotate(180deg); 
    margin-left: 10px; 
    font-weight: lighter;
}

/*content*/
.content {
    max-height: 0; /* to hide the extra info */ 
    overflow: hidden;
    background-color: var(--dark-black);
    border-radius: 0 0 30px 30px; /* rounded bottom corners */
    width: 252px; /* matches the width of the button */
    padding: 0 10px; /* adjust padding inside the content */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;
    justify-items: center; 
    transition: max-height 0.3s ease, padding 0.3s ease; /* Add transition */
}

.content.show {
    max-height: none; /* allows content to take its natural height, maybe add scrolling? */
    padding: 20px 10px;
    border-top: none; 
    border-left: 2px solid var(--light-green);  /*2 instead of 2.5 to make it thinner */
    border-right: 2px solid var(--light-green); 
    border-bottom: 2px solid var(--light-green); 
}

.content p {
    color: whitesmoke;
    margin: 0px;
    font-size: 14px;
}

.content p:hover {
    color: var(--light-green);
}

/*context box*/ 
.content-box {
    padding:25px;
    border: 2px;
    border-color: var(--light-black);
    background-color: var(--light-black);
    margin: 20px;
    border-radius: 15px;
}

.content-box nav {
    padding:25px;
    border: 2px;
    border-color: var(--light-black);
    background-color: var(--light-black);
    margin: 20px;
    border-radius: 15px;
    font-size: 25px;
}

/*personality input*/ 
.personality-input {
    display: none; /* initially hidden */
    background-color: var(--dark-black);
    color: var(--light-green);
    padding: 10px 20px 5px 20px;
    margin-top: 20px;
    width: 252px;
    border: 2px solid var(--light-green);  
    border-bottom-color: var(--gray); /* border bottom none to  remove the bottom border */
    border-radius: 30px; /* initially fully rounded */
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s ease;
    text-align: center;
}

.personality-input.flat-bottom {
    border-radius: 30px 30px 0 0; /* round top corners only */
}

.personality-input:focus {
    border-color: var(--light-green);
    /* background-color: var(--light-black); change background on focus */
}

/*personality buttons */
button.personality-button {
    padding:13px 10px;
    background-color: var(--gray);
    color: whitesmoke !important;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: var(--dark-black);
    text-align: center;
    width: 90%;
    outline: none;
}

/* button.personality-button:hover {
    background-color: var(--dark-green);
    color: white;
} */

/*more drop downs*/ 
.more-drop-downs {
    display: block; /* it still follows the grid */
    width: 100%;
    margin:0px; 
    color: whitesmoke; 
    padding: 10px; 
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
}

/*microinteraction*/
.microinteraction {
    display: flex; 
    flex-direction: column; /* stack items vertically */
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    margin: 20px auto;
}

/*like and dislike button*/ 
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-cell {
    display: flex;
    border: 2.5px solid var(--border-gray);
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--inside-border-gray);
}

.like-section, .dislike-section {
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.like-section:active, .dislike-section:active {
    transform: scale(1.2);
}

.material-icons { 
    padding: 0px 5px;
    color: #8C8C8C;
    transition: color 0.3s ease;
    font-size: 24px;
    cursor: pointer;
}

.dislike-section .material-icons:hover,
.like-section .material-icons:hover {
    color: var(--light-green);
}

.like-section.active .material-icons,
.dislike-section.active .material-icons {
    color: var(--light-green);
}

#like-count, #dislike-count {
    color: #8C8C8C; 
}


/*footer*/
footer {
    background-color: var(--light-black);
    text-align: center;
    padding: 20px;
    margin: 20px 0px 0px 0px;
}

/*video*/ 
/* video { 
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    max-width: 80%;
} */

/*media queries*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 904px) {
    .grid-container {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media (max-width: 645px) {
    .grid-container {
        grid-template-columns: repeat(1, 4fr);
    }
}